<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet" id="bootstrap-css">
    <title>ANT Add Page</title>
</head>
<body>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/add">Add product</a></li>
        <li><a href="/manage">Manage product</a></li>
        <li><a href="/logout">Logout</a></li>
    </ul>
    <center>
    <form style="width: fit-content; margin-top: 30px;" 
      action="/insert" enctype="multipart/form-data" method="post">
    <fieldset>
        <legend>Add Product</legend>
        Name: <input type="text" name="name" required maxlength="100"> <br> <br>
        Introduction: <input type="text" name="introduction" maxlength="2000"> <br> <br>
        Picture: <input type="file" name="picture" required accept="image/*" > <br> <br>
        Price: <input type="text" name="price" required maxlength="100"><span class="error">{{addError}}</span><br> <br>
        <input type="submit" value="Add" name="add">
    </fieldset>
    </form>
    </center>
</body>
</html>