<!DOCTYPE html>
<html lang="vi">
<head>
	<title>ANT Home Page</title>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet" id="bootstrap-css">
</head>
<style>
</style>
<body>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/add">Add product</a></li>
        <li><a href="/manage">Manage product</a></li>
        <li><a href="/logout">Logout</a></li>
    </ul>
    <Center>
        <img src="/picture/logo2.png" alt="Logo" width="600px" height="400px">
        <h1>ANT Management System</h1>
    </Center>
</body>
</html>